/* Grid Overlay - Copy These Styles */
/* Based of simurai's gist: https://gist.github.com/simurai/845383 */

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	/*border: dotted gray 1px;*/ /* Uncomment to border all the elements to get a better idea of alignment. */
}

html:before, html:after {
	content: "";

	opacity: .25; /* Grid Overlay Opacity */

	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999;

	/* Change to pixels if you get a scroll bar and don't want a flexible grid. */
	height: 100%;
	width: 100%;                


	/* Grid Sections */
	-webkit-background-size: 10% 10%;     
	   -moz-background-size: 10% 10%;     
	        background-size: 10% 10%;    
}

html:before {
    background-image: -webkit-gradient( linear, 0 0, 0 100%, color-stop(.95, transparent), color-stop(.95, rgba(0,0,0,.1)) );
    background-image: -moz-linear-gradient( 90deg, transparent 100%, rgba(0,0,0,.1) 100% );
    background-image: linear-gradient( 90deg, transparent 100%, rgba(0,0,0,.1) 100% );
}
html:after {
    background-image: -webkit-gradient( linear, 0 0, 100% 0, color-stop(.95, transparent), color-stop(.95, rgba(0,0,0,.1)) );
    background-image: -moz-linear-gradient( 180deg, transparent 100%, rgba(0,0,0,.1) 100% );
    background-image: linear-gradient( 180deg, transparent 100%, rgba(0,0,0,.1) 100% );
}
html {
	height: 100%;
	/*overflow: hidden;*/ /* Uncomment to hide scrollbar */
}






/* Page Styles - Don't copy these styles */

body {
	font-family: monospace, Georgia, serif;
	margin: 0;
	height: 100%;
	color: #fefefe;
}

header {
	height: 10%;
	background-color: #444;
	padding: 5% 10% 5% 10%;
	font-size: 200%;
	text-transform: uppercase;
	border: solid #fefefe 1px;
/*	width: 80%;
	margin: 0 auto;*/
/*	text-align: center;*/
}
a {
	color: #381;
	text-decoration: none;
}
.main {
	height: 80%;
	background-color: #444;
	border: solid #fefefe 1px;
}
article {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #444;
	border: solid #fefefe 1px;
	padding: 10%;
	line-height: 125%;
	/*line-height: 10%;*/ /* Uncomment for why Web Accessibility is important */
}
section {
	float: left;
	width: 25%;
	height: 100%;
	background-color: #444;
	border: solid #fefefe 1px;
}
footer {
	height: 10%;
	background-color: #444;
	border: solid #fefefe 1px;
}